/*
!/myresources
!/myresources/*
!/mysite
!/mysite/*
!/themes
!/themes/*
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitconfig
!/code-of-conduct.md
!/composer.json
!/composer.lock
!/contributing.md
!/gulpfile.js
!/LICENSE*
!/package.json
!/phpunit.xml
!/README.md
!/webpack.config.js
*Thumbs.db
*web.config
*.log
*.buildpath
*.project
*.settings
*.idea
*.DS_Store
*._.DS_Store
*.codekit*
*.sublime-*
*.sass-cache
*prepros.cfg
